<div id="change_password_panel" class="edit_panel active">
    <i (click)="closePanel()" class="fas fa-times"></i>
    <h3 class="heading">Change Password</h3>

    <form #form="ngForm" class="form" (ngSubmit)="editPassword(form)">
        @if (formError) {
            <p class="error_message">{{ formError }}</p>
        }

        <div class="field_wrapper">
            <label for="oldPasswordInput">Old Password:</label>
            <input
                name="oldPassword"
                id="oldPasswordInput"
                type="password"
                #oldPasswordField="ngModel"
                ngModel
                required
            />
        </div>

        <div class="field_wrapper">
            <label for="newPasswordInput">New Password:</label>
            <input
                name="newPassword"
                id="newPasswordInput"
                type="password"
                #newPasswordField="ngModel"
                ngModel
                required
            />
        </div>

        <div class="field_wrapper">
            <label for="repeatPasswordInput">Repeat New Password:</label>
            <input
                name="repeatNewPassword"
                id="repeatPasswordInput"
                type="password"
                #repeatNewPasswordField="ngModel"
                ngModel
                required
            />
        </div>

        <button id="savePassword" class="btn">Save</button>
    </form>
</div>
