@if (openedPanels.editCityPanel) {
    <app-edit-city-panel
        class="edit_panel active"
        (hideChangeNamePanel)="hideOpenedPanels()"
    />
}

@if (openedPanels.editAddressPanel) {
    <app-edit-address-panel
        class="edit_panel active"
        (hideChangeNamePanel)="hideOpenedPanels()"
    />
}

@if (openedPanels.editPhoneNumberPanel) {
    <app-edit-phone-number-panel
        class="edit_panel active"
        (hideChangeNamePanel)="hideOpenedPanels()"
    />
}

<section class="settings">
    <div class="credentials">
        <h2 class="heading">Address</h2>
        <ul role="list">
            <li class="list_item">
                <div class="data">
                    <i class="fas fa-city"></i>
                    <div class="field_wrapper">
                        <p class="field_label">City:</p>
                        @if (profile?.city) {
                            <p id="city_field" class="field">
                                {{ profile?.city }}
                            </p>
                        } @else {
                            {{ blankFieldMessage }}
                        }
                    </div>
                </div>
                <button
                    (click)="showEditCityPanel()"
                    id="edit_city_btn"
                    class="btn"
                >
                    <i class="far fa-edit"></i> Edit
                </button>
            </li>
            <li class="list_item">
                <div class="data">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="field_wrapper">
                        <p class="field_label">Address:</p>
                        @if (profile?.address) {
                            <p id="city_field" class="field">
                                {{ profile?.address }}
                            </p>
                        } @else {
                            {{ blankFieldMessage }}
                        }
                    </div>
                </div>
                <button
                    (click)="showEditAddressPanel()"
                    id="edit_address_btn"
                    class="btn"
                >
                    <i class="far fa-edit"></i> Edit
                </button>
            </li>
            <li class="list_item">
                <div class="data">
                    <i class="fas fa-mobile-alt"></i>
                    <div class="field_wrapper">
                        <p class="field_label">Phone Number:</p>
                        @if (profile?.phoneNumber) {
                            <p id="city_field" class="field">
                                {{ profile?.phoneNumber }}
                            </p>
                        } @else {
                            {{ blankFieldMessage }}
                        }
                    </div>
                </div>
                <button
                    (click)="showEditPhoneNumberPanel()"
                    id="edit_phone_number_btn"
                    class="btn"
                >
                    <i class="far fa-edit"></i> Edit
                </button>
            </li>
        </ul>
    </div>
</section>
