<section class="products_wrapper">
    @if (products) {
        @for (product of products; track product.id) {
            <div class="product">
                <img src="{{ product.image }}" alt="" class="image" />
                <div class="data_section">
                    <div class="text_container">
                        <h3 class="heading">{{ product.name }}</h3>
                        <p class="price">{{ product.price }}</p>
                    </div>
                    @if (product?.in_favorites) {
                        <i id="icon" class="far fa-heart"></i>
                    } @else {
                        <i id="icon" class="fas fa-heart"></i>
                    }
                </div>
            </div>
        }
    } @else {
        <h1 class="emptyPageMassage">There is no products yet!</h1>
    }
</section>
