#main {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding: 50px 30px;
}

#main.active::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.3);
}

.profile_settings {
    width: 100%;
    display: flex;
    gap: 20px;
}

.router-outlet-wrapper {
    flex-grow: 1;
}
