<main class="product_page" id="main">
    <form #form="ngForm" class="product-form" (ngSubmit)="formHandler(form)">
        <h1 class="heading">Add Product</h1>
        <label for="image-input" class="file-input">
            <input
                id="image-input"
                accept=".jpg, .jpeg"
                type="file"
                name="image"
                ngModel
                (change)="fileOnChangeHandler($event)"
                required
            />
            <span class="file-icon"></span>
            <span class="file-label">Choose Image</span>
        </label>
        <div class="input-group">
            <label for="name-input"> Name </label>
            <input id="name-input" type="text" name="name" ngModel required />
        </div>
        <div class="input-group">
            <label for="quantity-input"> Quantity </label>
            <input
                id="quantity-input"
                type="text"
                name="quantity"
                ngModel
                required
            />
        </div>
        <div class="input-group">
            <label for="brand-input"> Brand </label>
            <input id="brand-input" type="text" name="brand" ngModel required />
        </div>
        <div class="input-group">
            <label for="madein-input"> Made in </label>
            <input
                id="madein-input"
                type="text"
                name="made_in"
                ngModel
                required
            />
        </div>
        <div class="input-group">
            <label for="category-input"> Category </label>
            <select id="category-input" name="category" ngModel required>
                <option value="2">Shorts</option>
                <option value="1">T-Shirts</option>
                <option value="3">Shoes</option>
            </select>
        </div>
        <div class="input-group">
            <label for="price-input"> Price </label>
            <input
                id="price-input"
                type="text"
                name="price"
                ngModel
                required
                pattern="^\d+(.\d{1,2})?$"
            />
        </div>
        <div class="input-group">
            <label for="description-input"> Description </label>
            <textarea
                id="description-input"
                cols="30"
                rows="5"
                name="description"
                ngModel
                required
            ></textarea>
        </div>
        <p class="error">{{ errorMessage }}</p>

        <button class="button">
            @if (isLoading) {
                <app-loader class="spinner" />
            }
            Create
        </button>
    </form>
</main>
