<main class="product_page" id="main">
    <form class="product-form">
        <h1 class="heading">Add Product</h1>
        <label for="image-input" class="file-input">
            <input id="image-input" type="file" />
            <span class="file-icon"></span>
            <span class="file-label">Choose Image</span>
        </label>
        <div class="input-group">
            <label for="name-input"> Name </label>
            <input id="name-input" type="text" />
        </div>
        <div class="input-group">
            <label for="quantity-input"> Quantity </label>
            <input id="quantity-input" type="text" />
        </div>
        <div class="input-group">
            <label for="brand-input"> Brand </label>
            <input id="brand-input" type="text" />
        </div>
        <div class="input-group">
            <label for="madein-input"> Made in </label>
            <input id="madein-input" type="text" />
        </div>
        <div class="input-group">
            <label for="category-input"> Category </label>
            <select id="category-input">
                <option value="">Shorts</option>
                <option value="">T-Shirts</option>
                <option value="">Shoes</option>
            </select>
        </div>
        <div class="input-group">
            <label for="price-input"> Price </label>
            <input id="price-input" type="text" />
        </div>
        <div class="input-group">
            <label for="description-input"> Description </label>
            <textarea id="description-input" cols="30" rows="5"></textarea>
        </div>
        <button class="button">Create</button>
    </form>
</main>
