<footer class="footer">
    <div class="wrapper">
        <p class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
            facere beatae incidunt rem rerum quos quo temporibus enim dolorem
            veniam?
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
            dignissimos eius rerum deleniti expedita veniam eaque, tenetur
            placeat totam. Eveniet.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem nostrum, nesciunt qui ipsa non officia! Quam tempore
            nihil rerum quos!
        </p>
    </div>
</footer>
