.product_page {
    margin: 50px auto;
}

.product_page .heading {
    text-align: center;
    margin: auto;
}

.product_page .product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
    width: 500px;
    border: 1px solid #1d1d1f;
    padding: 20px;
}

.product_page .product-form .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.product_page .product-form .input-group label {
    font-size: 18px;
}

.product_page .product-form .input-group input {
    padding: 4px 6px;
    font-size: 16px;
    width: 260px;
}

.product_page .product-form .input-group select {
    height: 40px;
    width: 260px;
    padding: 4px 6px;
    font-size: 16px;
}

.product_page .product-form .button {
    color: #fff;
    padding: 10px 20px;
    background: #1d1d1f;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #1d1d1f;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.product_page .product-form .button:hover {
    color: #1d1d1f;
    background-color: #fff;
}

.file-input {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#image-input {
    display: none;
}

.file-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/assets/upload.png');
    background-size: cover;
    cursor: pointer;
}

.file-label {
    padding-left: 35px;
    line-height: 30px;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: -10px;
}

.spinner {
    width: 20px;
    height: 20px;
    display: block;
}

.loader {
    width: 50px;
    height: 50px;
    display: block;
    margin: 200px auto;
}

@media screen and (max-width: 740px) {
    .product_page .product-form {
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .product_page .product-form {
        width: 250px;
    }
}
