<div class="method">
    <div class="section_heading_wrapper">
        <i class="fas fa-money-bill-alt"></i>
        <h2 class="section_heading">Price</h2>
    </div>
    <div class="main">
        <div class="price_wrapper">
            <p class="label">Subtotal</p>
            <p id="price" class="price">{{ price }}lv</p>
        </div>
        <div class="price_wrapper">
            <p class="label">Delivery</p>
            <p class="price">0.00lv</p>
        </div>
        <div class="price_wrapper total">
            <p class="label">TOTAL:</p>
            <p id="price" class="price">{{ price }}lv</p>
        </div>
        <p class="error_message">{{ errorMessage }}</p>
        <button
            (click)="buttonHandler()"
            id="finish_order_btn"
            class="finish_order"
            [disabled]="disabledBuyButton"
        >
            Finish Order
        </button>
    </div>
</div>
