#main.cart_page .main_section.disabled {
    display: none;
}

#main.cart_page .main_section {
    max-width: 1920px;
    padding: 100px 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 70% 30%;
}

.wrong {
    border-color: red;
}

.loader {
    display: block;
    width: 50px;
    height: 50px;
    margin: 30px auto;
}

@media screen and (max-width: 1040px) {
    #main.cart_page .main_section {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }
}

@media screen and (max-width: 800px) {
    #main.cart_page .main_section {
        padding: 50px 10px;
    }
}
