<section class="method">
    <div class="section_heading_wrapper">
        <i class="fas fa-money-check"></i>
        <h2 class="section_heading">Payment method</h2>
    </div>
    <div class="main">
        <form id="paymentForm" class="method_form">
            <div class="element">
                <input
                    id="on_delivery"
                    type="radio"
                    name="delivery_method"
                    checked
                />
                <label for="on_delivery">Cash on Delivery</label>
            </div>
        </form>
        <div id="cardInfoWrapper" class="data"></div>
    </div>
</section>
