<main id="main">
    <section class="authentication">
        <div class="authentication_wrapper">
            <h1>Login</h1>
            <form #form="ngForm" class="form" (ngSubmit)="login(form)">
                <label for="email_field">Email</label>
                <div>
                    @if (emailField.touched) {
                        @if (emailField.errors?.['required']) {
                            <p class="error">Email is required!</p>
                        }
                        @if (emailField.errors?.['emailError']) {
                            <p class="error">Email is not valid!</p>
                        }
                    }
                    <input
                        id="email_field"
                        type="text"
                        name="email"
                        #emailField="ngModel"
                        ngModel
                        required
                        appEmail
                    />
                </div>
                <label for="password_field">Password</label>
                <input
                    id="password_field"
                    type="password"
                    name="password"
                    #passwordField="ngModel"
                    ngModel
                    required
                />
                @if (error()) {
                    <p id="error_messages">{{ error() }}</p>
                }
                <button
                    id="login_btn"
                    class="authentication_btn"
                    [disabled]="form.invalid"
                >
                    Login
                </button>
                <p class="login_message">
                    Doesn't have an account?
                    <a routerLink="/auth/register">Register</a>
                    here.
                </p>
            </form>
        </div>
    </section>
</main>
