.order_page {
    padding: 50px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additional {
    display: grid;
    grid-template-columns: 70% 28%;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .additional {
        grid-template-columns: 100%;
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 538px) {
    .order_page {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 367px) {
    .order_page {
        padding: 30px 10px;
    }
}
