<main id="main" [className]="eitherPanelOpened ? 'active' : ''">
    <section class="profile_settings">
        @if (openedPanels.editNamePanel) {
            <app-edit-name-panel
                class="edit_panel active"
                (hideChangeNamePanel)="hideOpenedPanels()"
            />
        }

        @if (openedPanels.editEmailPanel) {
            <app-edit-email-panel
                class="edit_panel active"
                (hideChangeNamePanel)="hideOpenedPanels()"
            />
        }

        @if (openedPanels.editPasswordPanel) {
            <app-edit-password-panel
                class="edit_panel active"
                (hideChangeNamePanel)="hideOpenedPanels()"
            />
        }

        <div id="delete_profile_panel" class="edit_panel">
            <i class="fas fa-times"></i>
            <h3 class="heading">Delete Profile</h3>
            <form method="post">
                <button id="deleteProfileBtn" class="btn">Delete</button>
            </form>
        </div>
        <app-profile-sidenav />
        <section class="settings">
            <div class="credentials">
                <h2 class="heading">Profile Data</h2>
                <ul role="list">
                    <li class="list_item">
                        <div class="data">
                            <i class="fas fa-user"></i>
                            <div class="field_wrapper">
                                <p class="field_label">Name:</p>
                                @if (profile?.firstName && profile?.lastName) {
                                    <p id="name_field" class="field">
                                        {{ profile?.firstName }}
                                        {{ profile?.lastName }}
                                    </p>
                                } @else if (profile?.firstName) {
                                    <p id="name_field" class="field">
                                        {{ profile?.firstName }}
                                    </p>
                                } @else {
                                    <p id="name_field" class="field">
                                        Field not filled
                                    </p>
                                }
                            </div>
                        </div>
                        <button
                            (click)="showEditNamePanel()"
                            id="edit_name_btn"
                            class="btn"
                        >
                            <i class="far fa-edit"></i> Edit
                        </button>
                    </li>
                    <li class="list_item">
                        <div class="data">
                            <i class="fas fa-envelope"></i>
                            <div class="field_wrapper">
                                <p class="field_label">Email:</p>
                                <span id="email_field" class="field">{{
                                    profile?.email
                                }}</span>
                            </div>
                        </div>
                        <button
                            (click)="showEditEmailPanel()"
                            id="edit_email_btn"
                            class="btn"
                        >
                            <i class="far fa-edit"></i> Edit
                        </button>
                    </li>
                    <li class="list_item">
                        <div class="data">
                            <i class="fas fa-lock"></i>
                            <div class="field_wrapper">
                                <p class="field_label">Password:</p>
                                <p class="field">********</p>
                            </div>
                        </div>
                        <button
                            (click)="showEditPasswordPanel()"
                            id="change_password_btn"
                            class="btn"
                        >
                            <i class="far fa-edit"></i> Edit
                        </button>
                    </li>
                </ul>
            </div>
            <div class="profile_delete">
                <h2 class="heading">Delete Profile</h2>
                <div class="wrapper">
                    <p class="text">Deletes the profile permanently</p>
                    <button id="deleteBtn" class="btn">Delete</button>
                </div>
            </div>
        </section>
    </section>
</main>
